<div class="table container table-form">
    <h2>Login</h2>
    <div id="error-block" [hidden]="hidden">
        <p>{{errorMessage}}</p>
    </div>
    <form #loginForm="ngForm" class="login-form">
        <input type="email" id="email" name="email" class="form-control" placeholder="Email"
               [(ngModel)]="loginUser.email" #email="ngModel" required>

        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
               [(ngModel)]="loginUser.password" #password="ngModel" required>

        <button (click)="onSubmit()" id="signup-button" [disabled]="!loginForm.valid">Sign in</button>
    </form>
    <!--<a routerLink="/userInformationDTO/registration" class="additional-info">I do not have an account</a>-->
</div>