<table class="container table">
    <tr class="table-title">
        <th colspan="1">Name</th>
    </tr>
    <tr *ngFor="let category of categories">
        <td>{{ category.name }}</td>
        <td class="table-align-right">
            <span class="material-icons t-link" (click)="editCategory(category)">mode_edit</span>
            <span class="material-icons t-link" (click)="deleteCategory(category)">delete</span>
        </td>
    </tr>
</table>
<span class="button button-add" (click)="addCategory()">Add</span>
<div *ngIf="editingCategory !== null" category-edit [category]="editingCategory" (endEdit)="saveCategory($event)"></div>