<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>


        <mapping class="com.bsuir.petition.bean.entity.User"/>
        <mapping class="com.bsuir.petition.bean.entity.City"/>
        <mapping class="com.bsuir.petition.bean.entity.Country"/>
        <mapping class="com.bsuir.petition.bean.entity.UserInformation"/>
        <mapping class="com.bsuir.petition.bean.entity.Role"/>
        <mapping class="com.bsuir.petition.bean.entity.CategoryDTO"/>
        <mapping class="com.bsuir.petition.bean.entity.Petition"/>
        <mapping class="com.bsuir.petition.bean.entity.Vote"/>
        <mapping class="com.bsuir.petition.bean.entity.Comment"/>
    </session-factory>
</hibernate-configuration>