<!--<h1>Here will be petition list</h1>-->

<!--<p><a routerLink="/petition/add" *ngIf="authService.isAuth()">Create petition own petition</a></p>-->

<!--<div *ngFor="let petition of petitions">-->

    <!--<p><a [routerLink]="['/petition', petition.id]">{{petition.name}}</a></p>-->
    <!--<p>{{petition.description}}</p>-->
    <!--<p>Number votes = {{petition.numberVotes}}</p>-->
    <!--<p>Number necessary votes = {{petition.numberNecessaryVotes}}</p>-->
<!--</div>-->

<div class="container">
    <div routerLink="/petition/add" *ngIf="authService.isAuth()" class="button-petition-create">
        <p>Create petition</p>
    </div>
    <div class="petition-list-block">
        <div [routerLink]="['/petition', petition.id]" class="petition-block" *ngFor="let petition of petitions">
            <div class="categories">
                <div class="category-block" *ngFor="let category of petition.categories">
                    <p>{{category.name}}</p>
                </div>
            </div>
            <p class="petition-name">{{petition.name}}</p>
            <div class="petition-progress">
                <div class="progress-bg"></div>
                <div class="progress-line-block">
                    <div class="progress-line" id="vote-progress" [ngStyle]="{ 'width': (petition.numberVotes >= petition.numberNecessaryVotes) ? '100%' : (petition.numberVotes / petition.numberNecessaryVotes * 100 + '%') }"></div>
                </div>
                <div class="progress-value">
                    <p class="all-signatures">{{petition.numberVotes}}</p>
                    <p class="need-signatures">{{petition.numberNecessaryVotes}}</p>
                </div>
            </div>
        </div>
    </div>
</div>