div.button-petition-create {
    width: 75%;
    display: block;
    margin: 10px auto;
    height: 45px;
    background-color: #2ecc71;
    border-radius: 30px;
    cursor: pointer;
}
div.button-petition-create:hover {
    background-color: #2fbc6b;
}
div.button-petition-create p {
    color: white;
    font-size: 18px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    margin: 0;
}
.petition-list-block {
    width: 95%;
    margin: 0 auto;
}
.petition-block {
    width: 95%;
    background-color: white;
    color: black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.petition-block:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}
.petition-block .petition-name,
.petition-block .petition-description {
    margin-top: 0px;
    font-weight: bold;
    font-size: 20px;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
}
.petition-block .petition-description {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
}


.categories {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
    flex-wrap: wrap;
}
.categories .category-block {
    min-height: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #35c0e3;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    cursor: default;
    margin-bottom: 10px;
    margin-right: 10px;
}
.categories .category-block:hover {
    background-color: #05aed8;
}
.categories .category-block p {
    line-height: 25px;
    margin: 0;
}

.container {
    width: 980px;
    margin: 0 auto;
    margin-top: 10px;
}


div.petition-progress {
    width: 100%;
    height: 25px;
    margin-top: 12px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
div.petition-progress div.progress-bg {
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
    left: 0;
    bottom: 0;
}
div.petition-progress div.progress-line-block {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
div.petition-progress div.progress-line-block div.progress-line {
    background-color: #2ecc71;
    display: block;
    position: relative;
    height: 100%;
    width: 0%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
div.petition-progress div.progress-value{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: black;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.petition-progress div.progress-value p.all-signatures {
    float: left;
    margin: 0;
    margin-left: 15px;
    line-height: 1.6;
}
div.petition-progress div.progress-value p.need-signatures {
    float: right;
    margin: 0;
    margin-right: 15px;
    line-height: 1.6;
}

@media only screen and (max-width: 968px) {
    div.container {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .petition-list-block {
        width: 87%;
    }

    .petition-block {
        width: 90%;
    }
}