<h2>Main Page</h2>
<!--userInformationDTO [routerLink]="['/user', 1]">User with id = 1</a>-->
<!--<a routerLink="/userInformationDTO">User</a>
<a routerLink="/userInformationDTO/login">Login</a>
<a routerLink="/userInformationDTO/registration">Registration</a>-->

<a routerLink="/user/information" *ngIf="authService.isAuth()">User info</a>
<a (click)="http.deleteToken()" *ngIf="authService.isAuth()">Logout</a>
<a routerLink="/login" *ngIf="!authService.isAuth()">Login</a>
<a routerLink="/registration" *ngIf="!authService.isAuth()">Registration</a>