<form #cityForm="ngForm" class="container card">
    <div class="card-content">
        <span class="card-title">Cities edit</span>
        <input type="text" placeholder="Name" name="name" [(ngModel)]="city.name" #name="ngModel" required>
        <input type="text" placeholder="Country" name="country" [(ngModel)]="city.country" #name="ngModel" required>
    </div>
    <div class="card-action">
        <button (click)="save(true)" [disabled]="!cityForm.valid">Save</button>
        <button (click)="save(false)">Cancel</button>
    </div>
</form>