<div class="table container table-form">
    <h2>Registration</h2>
    <div id="error-block" [hidden]="hidden">
        <p>{{errorMessage}}</p>
    </div>
    <form #registrationForm="ngForm" class="register-form">
        <input type="email"
               email
               id="email"
               name="email"
               class="form-control"
               required
               [(ngModel)]="registrationUser.email"
               #email="ngModel"
               placeholder="Enter your e-mail"/>

        <!--<div [hidden]="email.valid || email.pristine" class="error-message">
            Please enter e-mail!
        </div>-->

        <input type="text"
               id="nick"
               name="nick"
               class="form-control"
               required
               [(ngModel)]="registrationUser.nick"
               #nick="ngModel"
               placeholder="Enter your nick"
        />
        <!--<div [hidden]="nick.valid || nick.pristine" class="error-message">
            Please enter your nick!
        </div>-->

        <input type="password"
               required
               id="password"
               class="form-control"
               name="password"
               [(ngModel)]="registrationUser.password"
               #password="ngModel"
               placeholder="Enter your password"/>

        <!--<div [hidden]="password.valid || password.pristine" class="error-message">
            Please enter password!
        </div>-->

        <input type="password"
               required
               id="repeatPassword"
               name="repeatPassword"
               class="form-control"
               [(ngModel)]="registrationUser.repeatPassword"
               #repeatPassword="ngModel"
               placeholder="Repeat your password"/>

        <!--<div [hidden]="repeatPassword.valid || repeatPassword.pristine" class="error-message">
            Please repeat password!
        </div>
        <div [hidden]="hidden">
            {{errorMessage}}
        </div>-->

        <button id="signup-button" (click)="onSubmit()" [disabled]="!registrationForm.valid">Submit</button>
    </form>
    <a routerLink="/userInformationDTO/login" class="additional-info">I already have an account</a>

</div>