<div class="container">
    <div *ngIf="userInfo === null" (click)="addUserInfo()" class="button-add-userInfo">Add info</div>
    <div id="error-block" [hidden]="errorHidden">
        <p>{{errorMessage}}</p>
    </div>
    <div id="success-block" [hidden]="successHidden">
        <p>User information is updated!</p>
    </div>
    <form #userInfoForm="ngForm" *ngIf="userInfo !== null">
        <label>Username</label>
        <input type="text"
               placeholder="Username"
               name="username"
               class="form-control"
               required
               [(ngModel)]="userInfo.username"
               #name="ngModel">
        <br>
        <label>Surname</label>
        <input type="text"
               placeholder="Surname"
               name="surname"
               class="form-control"
               required
               [(ngModel)]="userInfo.surname"
               #name="ngModel">
        <br>
        <label>City</label>
        <input type="text"
               placeholder="City"
               name="city"
               class="form-control"
               required
               [(ngModel)]="userInfo.city"
               #name="ngModel">
        <br>

        <button (click)="editUserInfo(true)" [disabled]="!userInfoForm.valid" class="button-save">Save</button>
        <button (click)="editUserInfo(false)" class="button-cancel">Cancel</button>
    </form>
</div>